{% extends 'base.html' %}

{% block title %} User-SignUp {% endblock title %}

{% block content %}
    <form method="POST">
        <h3>User SignUp</h3>
        <div class="form-items">
            <div>
                <label for="name">Name:</label><br>
                <input type="text" name="name" id="name" placeholder="Enter Your name">
            </div>
            
            <div>
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </div>

            <div>
                <label for="password1">Password:</label><br>
                <input type="password" name="password1" id="password" placeholder="Enter your password">
            </div>

            <div>
                <label for="password2">Confirm Password:</label><br>
                <input type="password" name="password2" id="password" placeholder="Confirm your password">
            </div>

            <button type="submit">Sign Up</button>
        </div>
    </form>
{% endblock content %}
    
    